footer.footer
  .container
    .row
      .col-sm-12
        hr
      .col-sm-4
        p
          | Credits:
          br
          | Innochain 
          br
          | The Bartlett
          br
          | dimitrie.org 
      .col-sm-4
        p
          | Sitemap: 
          br
          |#[a(href="/") Home]
          br
          | #[a(href="/beta") Join Beta]
          br
          if(!loggedIn)
            | #[a(href="/login") Login]
          else 
            | #[a(href="/profile") Your profile]
          br
          | #[a(href="/about") About]
      .col-sm-4
        p
          | Meta:
          br
          | #[a(href="/terms") Terms of Service ]
          br
          | #[a(href="/cookies") Cookie Policy ]
        
        