footer.footer
  .container
    .row
      .col-sm-12
        hr
      .col-sm-4
        p
          | Sitemap: 
          br
          |#[a(href="/") Home]
          br
          if(!loggedIn)
            | #[a(href="/login") Login/Signup]
          else 
            | #[a(href="/profile") Your profile]
          br
          | #[a(href="https://github.com/didimitrie/beta.speckle.docs/wiki") Getting Started]
      .col-sm-2
        p
          | Meta:
          br
          | #[a(href="/terms") Terms of Service ]
          br
          | #[a(href="/cookies") Cookie Policy ]
          br
          | #[a(href="http://twitter.com/idid") #[i.fa.fa-twitter] i did ] this.
      .col-sm-6
        .row
          .col-sm-6.text-center
            a(href="http://www.bartlett.ucl.ac.uk/") 
              img.img-responsivex(src="/img/partnerlogos/Logos-02-02.png")
          .col-sm-6.text-center
            a(href="http://innochain.net/") 
              img.img-responsivex(src="/img/partnerlogos/Logos-02-03.png")
          .clearfix

          .col-sm-12
            
            .row
              .col-sm-9
                p.text-right.xsmall.
                  #[br]This project has received funding from the European Union’s Horizon 2020 research and innovation programme under the Marie Sklodowska-Curie grant agreement No 642877.
              .col-sm-3
                 #[img(src="/img/partnerlogos/Logos-02-04.png")]



      
        
        