p.small.xxxtext-center
  | Terms of service: You are being researched. Anonymously. #[br] Credits: Developed by Dimitrie A. Stefanescu, at the Bartlett School of Architecture, within the InnoChain Project.