footer.footer
  .container
    .row
      .col-sm-12
        hr
      .col-sm-4
        p
          | Credits:
          br
          | Innochain 
          br
          | The Bartlett
          br
          | dimitrie.org 
      .col-sm-4
        p
          | Sitemap: 
          br
          |#[a(href="/") Home]
          br
          | Login/Register
          br
          | Guide
          br
          | Contribute
      .col-sm-4
        p
          | Meta:
          br
          | #[a(href="#") Terms of Service ]
          br
          | #[a(href="#") Cookie Policy ]
        
        