extends ./layout.jade

block content
  .container
    .row(style="margin-top:20px")
      .col-sm-12
        .row.vertical-align
          .col-sm-12
            h1.text-center #[a.logo(href="/") #[i.fa.fa-sliders] S ]
            h2.text-center Beta Registration
          
      hr(style="margin-top:3px; margin-bottom:3px")
           