extends ./layout.jade

block content
  .container
    .row(style="margin-top:20px")
      .col-sm-12
        .row.vertical-align
          .col-sm-6.col-sm-offset-3
            h1.text-center #[a.logo(href="/") #[i.fa.fa-sliders] S ]
            h2.text-center Cookies
    hr(style="margin-top:3px; margin-bottom:3px")
    .row(style="margin-top:20px")
      .col-sm-12
        .row.vertical-align
          .col-sm-6.col-sm-offset-3
    
            h3.text-center.strong Some of the tech embedded in this website uses cookies (google analytics). I hope that's fine, if not, please go away.
            



      
           