// views/index.jade

extends ./layout.jade

block content
  .container
    .row(style="margin-top:20px")
      .col-sm-12
        .row
          .col-sm-6.col-sm-offset-3.text-center
            h1 #[a.logo(href="/") #[i.fa.fa-sliders] S ]
          .col-sm-3
            p.pull-right.text-right
              br
              if(loggedIn)
                a.thin(href="/profile") Welcome back, #[strong #{username}]!
              else
                #[a.thin(href="/login") Beta Login ]
      hr(style="margin-top:3px; margin-bottom:3px")
           
      
      .col-sm-10.col-sm-offset-1
        br
        br
        br
        br
        h2.text-justify.
          Share with your clients the full flexibility of your designs: #[strong display and explore #[span.blue parametric models] in your browser].  
        br
        br
        br
        br
      .clearfix
      .col-sm-12
        hr
      .col-sm-12
        .row.vertical-align
          .col-sm-6
            br
            h1 Why?
            h4.text-justify.
              Design iteration has always been difficult to communicate with the right people, that's why we devised a tool (& methodology) to help leverage the felxibility of computational design in evnironments outside the architectural office.
              #[span.blue Parametric models can go beyond aesthetic and technical exploration: they can tell a story and they can be the base of collaborative decision making. ]
            br
          .col-sm-6.text-right
            img(src="/img/collaborative.svg")

      .col-sm-12
        hr
      .col-sm-12
        .row
          .col-sm-12.text-center
            h1.strongx.
              How does it work?
        .row.vertical-align
          .col-sm-6
            img(src="/img/howitworks.svg")
          .col-sm-6.text-justify
            h3 #[strong Step 1:] Speckle exports the solution & performance space you define inside Grasshopper in a special file. 
         
        .row.vertical-align
          .col-sm-6.text-justify
            h3 #[strong Step 2:] You upload the #[span.blue file] to future.speckle. Now anyone who you share the link with can view it online!
          .col-sm-6
            img(src="/img/howitworks-2.svg")
        
        .row.vertical-align
          .col-sm-6
            img(src="/img/howitworks-3.svg")
          .col-sm-6.text-justify
            h3 #[strong Step 3:] Users can now explore the your parametric model in their browser!          
      .col-sm-12
        hr
        if(!loggedIn)
          h1.strong.text-center #[a(href="/beta") Curious? Join the private beta!]
          p.text-center Service is provided as-is, without any guarantee. 
        else 
          h1.strong.text-center Welcome back, #[span.thin #{username}]. #[a(href="/profile") Open your dashboard?]
        hr

      .col-sm-12.text-center
        h2 Examples!
        .row
          .col-sm-4
            p.
              Example 1: Coloured Meshes
            #[a(href="#") #[img.img-responsive(src="/img/example01.png")] ]
          .col-sm-4
            p.
              Example 2: Basic Canopy Structure
            p.
              #[a(href="#") #[img.img-responsive(src="/img/example02.png")] ]
          .col-sm-4
            p.
              Example 3: Torsion Tower
            #[a(href="#") #[img.img-responsive(src="/img/example03.png")] ]
      .clearfix
      .col-sm-12.text-center
        p.xsmall If you want your design featured here, #[a(href="mailto:d.stefanescu@ucl.ac.uk?subject=beta example feature request") let me know! ]
      .col-sm-12
        hr
        .row
          .col-sm-12.text-center
            h2
              i.fa.fa-github
            p.
              The #[a(href="https://github.com/didimitrie/viewer.speckle") #[i.fa.fa-github] Speckle Online Viewer ] and the #[a(href="https://github.com/didimitrie/speckle.exporter") #[i.fa.fa-github] Speckle GH Component ] are Open Source on Github. Contrbutions are more than welcome: you can shape the future development.
            h2
              a.github-button(href='https://github.com/didimitrie/viewer.speckle/fork', data-icon='octicon-repo-forked', data-style='mega', aria-label='Fork didimitrie/viewer.speckle on GitHub') Speckle Online Viewer 
              &nbsp;&nbsp;
              a.github-button(href='https://github.com/didimitrie/speckle.exporter/fork', data-icon='octicon-repo-forked', data-style='mega', aria-label='Fork didimitrie/speckle.exporter on GitHub') Speckle GH Component



      .clearfix      

        script#github-bjs(async='', defer='', src='https://buttons.github.io/buttons.js')   
        script(src='https://cdn.auth0.com/js/lock-7.12.min.js')   
        script(type='text/javascript').
          var lock = new Auth0Lock('xM4C16GZAbufm5citF6nJvj6wpAeYKlK', 'dim.eu.auth0.com');
          function signin() {
            lock.showSignin({
            callbackURL: 'http://localhost:9009/callback'
            , responseType: 'code'
            , authParams: {
            scope: 'openid profile'
            },

            });
          }

