// views/index.jade

extends ./layout.jade

block content
  .container
    .row(style="margin-top:20px")
      .col-sm-12
        .row.vertical-align
          .col-sm-8
            h1 #[a.logo(href="/") #[i.fa.fa-sliders] S ]
          .col-sm-4
            h4.pull-right.text-right
              if(loggedIn)
                a(href="/profile") Welcome back, #[strong #{username}]!
              else
                #[strong #[a(href="#", onclick="window.signin();") Log in | Register ]]
      hr(style="margin-top:3px; margin-bottom:3px")
           
      
      .col-sm-10.col-sm-offset-1
        br
        br
        br
        br
        h2.text-justify.
          Share with your clients the full flexibility of your designs: #[strong display and explore #[span.blue parametric models] in your browser].  
        //h2.text-center.
          #[strong Display and explore #[span.blue parametric models] in your browser].  
        br
        br
        br
        br
      .clearfix
      .col-sm-12
        hr
      .col-sm-12
        .row.vertical-align
          .col-sm-6
            br
            h1 Why?
            h4.text-justify.
              Design iteration has always been difficult to communicate with the right people, that's why we devised a tool (& methodology) to help leverage the felxibility of computational design in evnironments outside the architectural office.
              #[span.blue Parametric models can go beyond aesthetic and technical exploration: they can tell a story and they can be the base of collaborative decision making. ]
            br
          .col-sm-6.text-right
            img(src="/img/collaborative.svg" onerror="this.onerror=null; this.src='image.png'")

            //h1.blue
              i.fa.fa-circle-o.fa-1x
      .col-sm-12
        hr
      .col-sm-12
        .row
          .col-sm-12.text-center
            h1.strongx.
              How does it work?
        .row.vertical-align
          .col-sm-6
            img(src="/img/howitworks.svg" onerror="this.onerror=null; this.src='image.png'")
          .col-sm-6.text-justify
            h3 #[strong Step 1:] Speckle exports the solution & performance space you define inside Grasshopper in a special file. 
         
        .row.vertical-align
          .col-sm-6.text-justify
            h3 #[strong Step 2:] You upload the #[span.blue file] to future.speckle. Now anyone who you share the link with can view it online!
          .col-sm-6
            img(src="/img/howitworks-2.svg" onerror="this.onerror=null; this.src='image.png'")
        
        .row.vertical-align
          .col-sm-6
            img(src="/img/howitworks-3.svg" onerror="this.onerror=null; this.src='image.png'")
          .col-sm-6.text-justify
            h3 #[strong Step 3:] Users can now explore the your design in their browser and can rate copy needed.          
      .col-sm-12
        hr
        if(!loggedIn)
          h1.strong.text-center #[a(href="#" onclick="window.signin();") Curious? Register for the beta!]
          p.text-center Service is provided as-is, without any guarantee. 
        else 
          h1.strong.text-center Welcome back, #{username}. #[a(href="/profile") Open your dashboard?]
        hr

      .col-sm-12.text-center
        .row
          .col-sm-4
            h3.
              Example 1
            p.
              #[a(href="#") View ] | #[a(href="#") Download ]
          .col-sm-4
            h3.
              Example 2
            p.
              #[a(href="#") View ] | #[a(href="#") Download ]
          .col-sm-4
            h3.
              Example 3
            p.
              #[a(href="#") View ] | #[a(href="#") Download ] 
      .clearfix
      .col-sm-12
        hr
        .row.vertical-alignx
          .col-sm-4
            h3.
              #[i.fa.fa-angle-right] Quickstart
            p. 
              1. Register as a user. This will enable you to upload and share models. #[br]
              2. Download the GH component & install it. #[br]
              3. Export a model from GH.#[br]
              4. Upload it & enjoy!#[br]
          .col-sm-4.text-centerx
            h3
              #[i.fa.fa-angle-right] Contribute
            p.
              The Speckle Parametric Model Viewer and the GH export component are open source. If you want to contribute or file a bug, head over to our Github page. 
          .col-sm-4
            h3
              #[i.fa.fa-angle-right] Supported Software
            p.
              Right now we only support Grasshopper/Rhino3d. 
            p.
              We would really like it if you would want to write an exporter for Dynamo/Sketchup/Catia/GC/etc. The F.S format is rather basic - so check it out! 
      .clearfix

      
      .clearfix
      .col-sm-12
      
           
        script(src='https://cdn.auth0.com/js/lock-7.12.min.js')   
        script(type='text/javascript').
          var lock = new Auth0Lock('BBXzV7vyE6KnrAbPkRM8ynf62WOqQTr2', 'dim.eu.auth0.com');
          function signin() {
            lock.show({
            callbackURL: 'http://localhost:8000/callback'
            , responseType: 'code'
            , authParams: {
            scope: 'openid profile'
            },

            });
          }

