doctype html
html
  head
  title Future.Speckle: Display and explore parametric models in your browser.
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
  //link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,900', rel='stylesheet', type='text/css')
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700,300' rel='stylesheet' type='text/css'>
  script(src="https://code.jquery.com/jquery-2.1.4.min.js")
  style.
    body, h1, h2, h3, h4, h5 {
      font-family: 'Titillium Web', sans-serif; !important;
      font-weight: 400;
      line-height: 2;      
    }
    body {  
    }
    h1 { font-weight: 900; }
    .text-justify { text-align: justify; }
    hr {
    border: 0;
    border-bottom: 1px dashed #CCCCCC;
    }
    button {border: none !important; background: none !important;}
    button:hover { background-color: #333333 !important; color: white !important}
  block header

body
  block content