doctype html
html
  head
  title Future.Speckle: Display and explore parametric models in your browser.
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
  
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  
  link(href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700,300' rel='stylesheet' type='text/css')
  
  link(rel="stylesheet", href="/css/main.css")
  
  script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    
  block header

body
  block content
  include ./partials/footer.jade