extends ./layout.jade
block header
  link(rel="stylesheet", href="/css/auth0lock.css")
block content
  .container
    .row(style="margin-top:20px")
      .col-sm-12
        .row
          .col-sm-12
            h1.text-center #[a.logo(href="/") #[i.fa.fa-sliders] S ]
          
      if(allowsignup)          
        .col-sm-6.col-sm-offset-3.text-center
          #root.text-center(style='width: 320px; margin: 40px auto; padding: 10px;')
          h3 Already have an account? #[a(href="/signin") Sign in!]
          script(src='https://cdn.auth0.com/js/lock-8.2.min.js')
          script.

            var lock = new Auth0Lock('xM4C16GZAbufm5citF6nJvj6wpAeYKlK', 'dim.eu.auth0.com');
            lock.showSignup({
            container: 'root'
            , primaryColor: "#0000FF"
            , icon: "http://localhost:9009/img/SPKLogo.svg"
            , callbackURL: 'http://localhost:9009/callback'
            , responseType: 'code'
            , authParams: {
              scope: 'openid profile'
            }
            });
            var options = {
              disableSignupAction: false,
              disableResetAction: false
            };

      else 
        .col-sm-6.col-sm-offset-3.text-center
          h2
            i.fa.fa-frown-o
          h2 Sorry, signing up is allowed only for holders of beta keys for now. 
           h2
            i.fa.fa-angle-down
          h2 #[a(href="/beta") Click here to request or claim your key! ]

