// Default includes are in here. 
doctype html
html
  include ./../includes/hc.html
  head
    title Beta.Speckle: Display and explore parametric models in your browser.  
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    block header

  body
    block content