// Default includes are in here. 
doctype html
html
  include ./../includes/hc.html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Beta.Speckle: Display and explore parametric models in your browser.  
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/hint.css/2.1.0/hint.min.css')
    script 
      include ../includes/analytics.js
    block header

  body
    block content