/*=======================================
=            Widget Gradient            =
=======================================*/
body #a0-lock .a0-panel,
body #a0-lock.a0-theme-default .a0-panel,
body #a0-widget .a0-panel {
  //background-image: linear-gradient(to bottom, #4a4969 0%, #7072ab 50%, #cd82a0 100%);
  //color: white;
}
body #a0-lock .a0-panel .a0-close:hover,
body #a0-lock.a0-theme-default .a0-panel .a0-close:hover,
body #a0-widget .a0-panel .a0-close:hover {
  //color: #fff;
}
body #a0-lock .a0-panel .a0-avatar,
body #a0-lock.a0-theme-default .a0-panel .a0-avatar,
body #a0-widget .a0-panel .a0-avatar {
  //background: rgba(0, 0, 0, 0.2);
}
body #a0-lock .a0-panel .a0-avatar i,
body #a0-lock.a0-theme-default .a0-panel .a0-avatar i,
body #a0-widget .a0-panel .a0-avatar i {
  color: #fff;
}
body #a0-lock .a0-panel .a0-inputs,
body #a0-lock.a0-theme-default .a0-panel .a0-inputs,
body #a0-widget .a0-panel .a0-inputs {
  border: 0;
}
body #a0-lock .a0-panel .a0-inputs i,
body #a0-lock.a0-theme-default .a0-panel .a0-inputs i,
body #a0-widget .a0-panel .a0-inputs i {
  //color: #ffa4f3 !important;
}
body #a0-lock .a0-panel .a0-inputs input,
body #a0-lock.a0-theme-default .a0-panel .a0-inputs input,
body #a0-widget .a0-panel .a0-inputs input {
  background: transparent;
}
body #a0-lock .a0-panel .a0-inputs input::-webkit-input-placeholder,
body #a0-lock.a0-theme-default .a0-panel .a0-inputs input::-webkit-input-placeholder,
body #a0-widget .a0-panel .a0-inputs input::-webkit-input-placeholder {
  //color: white;
}
body #a0-lock .a0-panel .a0-inputs input:focus,
body #a0-lock.a0-theme-default .a0-panel .a0-inputs input:focus,
body #a0-widget .a0-panel .a0-inputs input:focus {
  background-color: transparent;
}

body #a0-lock .a0-image {
 opacity: 0;
}
body #a0-lock .a0-panel .a0-email,
body #a0-lock.a0-theme-default .a0-panel .a0-email,
body #a0-widget .a0-panel .a0-email,
body #a0-lock .a0-panel .a0-password,
body #a0-lock.a0-theme-default .a0-panel .a0-password,
body #a0-widget .a0-panel .a0-password,
body #a0-lock .a0-panel .a0-repeatPassword,
body #a0-lock.a0-theme-default .a0-panel .a0-repeatPassword,
body #a0-widget .a0-panel .a0-repeatPassword {
  //border-color: rgba(255, 255, 255, 0.2);
}
body #a0-lock .a0-panel .a0-separator,
body #a0-lock.a0-theme-default .a0-panel .a0-separator,
body #a0-widget .a0-panel .a0-separator {
  //color: rgba(255, 255, 255, 0.5);
}
body #a0-lock .a0-panel button.a0-primary,
body #a0-lock.a0-theme-default .a0-panel button.a0-primary,
body #a0-widget .a0-panel button.a0-primary {

}
body #a0-lock .a0-panel .a0-btn-small,
body #a0-lock.a0-theme-default .a0-panel .a0-btn-small,
body #a0-widget .a0-panel .a0-btn-small {
  border-color: rgba(255, 255, 255, 0.2);
}
body #a0-lock .a0-panel .a0-btn-small:hover,
body #a0-lock.a0-theme-default .a0-panel .a0-btn-small:hover,
body #a0-widget .a0-panel .a0-btn-small:hover {
  border-color: white;
  background: none;
}
body #a0-lock .a0-panel .a0-footer .a0-logo i,
body #a0-lock.a0-theme-default .a0-panel .a0-footer .a0-logo i,
body #a0-widget .a0-panel .a0-footer .a0-logo i {
  color: white;
}
@media screen and (max-width: 480px) {
  body #a0-lock .a0-popup .a0-overlay,
  body #a0-widget .a0-popup .a0-overlay {
    background-image: linear-gradient(to bottom, #4a4969 0%, #7072ab 50%, #cd82a0 100%);
    color: white;
  }
  body #a0-lock .a0-popup .a0-overlay .a0-panel,
  body #a0-widget .a0-popup .a0-overlay .a0-panel {
    background: transparent;
  }
}