body, h1, h2, h3, h4, h5 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: #5D5959;
  background-color: #FFFFFF; }

h1 {
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px; }

.text-justify {
  text-align: justify; }

.strong {
  font-weight: 700; }

.thin {
  font-weight: 400; }

input {
  font-size: 20px;
  border: 0;
  border-bottom: 1px dashed gray;
  width: 80%;
  padding: 10px;
  box-sizing: border-box; }

input:focus {
  outline: none;
  border-bottom: 1px solid #0000FF; }

hr {
  border: 0;
  border-bottom: 1px dashed #CCCCCC; }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }

.vertical-align {
  display: flex;
  align-items: center; }

a {
  transition: color 0.2s ease;
  color: #0000FF;
  text-decoration: none !important; }

a:hover {
  color: #C542E1; }

a.logo {
  text-decoration: none; }

.blue {
  color: #0000FF; }

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 0;
  width: 100%; }
