// include these amazing base styles
@import './includes/app';

// drop your custom styles down here

body {
  position: absolute;
  width: 100%;
  height: 100%;
}

#spk-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

#spk-metadata {

}

#spk-parameters {
  
}

