// include these amazing base styles
//@import './includes/app';
//@import './includes/reset';
//@import './includes/variables';
@import './includes/external/d3.parcoords';
// drop your custom styles down here

body {
  position: absolute;
}

#spk-canvas {
  position: absolute;
  right:0;
  width: 150px;
  height: 150px;
}

#spk-parameters {
  
}
