// include these amazing base styles
@import './includes/app';
@import './includes/external/parcoords';
// drop your custom styles down here

body {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sidebar {
  @include boxshadow-right();
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 2;
}

.sidebar-hidden {
  left: -100% !important;
}

#spk-canvas {
  position: absolute;
  width: 50%; 
  left: 50%;
  height: 100%;
  z-index: 1;
}

#spk-parameters {
}

#spk-datagrid {
  height: 50%;
  width: 100%;
  box-sizing: border-box;
  padding: 40px;
  overflow-y: auto;
}

.parcoords > svg, .parcoords > canvas { 
  font-family: $fontFamily;
}

.row, .header { clear: left; font-size: 12px; line-height: 18px; height: 18px; }
.row:nth-child(odd) { background: rgba(0,0,0,0.05); }
.header { font-weight: bold; }
.cell { float: left; overflow: hidden; white-space: nowrap; width: 80px; height: 18px; }
.col-0 { width: 80px; }


