@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600);

$fontFamily : 'Titillium Web', sans-serif;
$bgColour : white;
$txtColour : #333333;

$accentColour : #0000FF;
$hoverColour : #A538BC;
