
@import 'app';

$ui-left-width : 22%;
$ui-right-width: 18%;
$ui-padding : 10px;

$control-btn-height : 70px;

.clear { clear: both; }

.wrapper {

}

.add-shadow {
  box-shadow: 0px -2px 7px 0px rgba(0, 0, 0, 0.15);
}

#spk-viewer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#spk-save-controls {
  position: absolute;
  top: 0;
  left: $ui-left-width + $ui-right-width;
  width: 50px;
  height: $control-btn-height;
  line-height: $control-btn-height;
  font-size: 15px;
  text-align: center;
  background-color: white;
  z-index: 15;
  box-shadow:5px 0px 8px -3px rgba(0, 0, 0, 0.25);
  transition: left 0.3s ease-in-out;
  z-index: 8;
}

#spk-save-controls:hover {
  cursor: pointer;
  box-shadow:5px 0px 8px -3px rgba(0, 0, 0, 0.30);
}

#spk-measures-controls {
  position: absolute;
  top: $control-btn-height;
  left: $ui-left-width + $ui-right-width;
  width: 50px;
  height: $control-btn-height;
  line-height: $control-btn-height;
  font-size: 15px;
  text-align: center;
  background-color: white;
  z-index: 8;
  box-shadow:5px 0px 8px -3px rgba(0, 0, 0, 0.25);
  transition: left 0.3s ease-in-out;
}

.measure {
  width: 80% !important;
  position: relative;
  left: 10%;
}

#spk-measures-controls:hover {
  cursor: pointer;
  box-shadow:5px 0px 8px -3px rgba(0, 0, 0, 0.30);
}


#spk-measures-ui {
  position: absolute;
  z-index: 9;
  width: $ui-right-width;
  height: 100%;
  top: 0px;
  left: $ui-left-width;
  background-color: white;  
  overflow: hidden;
  transition: left 0.4s ease-out;
}



#spk-settings-controls {
  position: absolute;
  top: $control-btn-height*2;
  left: $ui-left-width + $ui-right-width;
  width: 50px;
  height: $control-btn-height;
  line-height: $control-btn-height;
  font-size: 15px;
  text-align: center;
  background-color: white;
  z-index: 8;
  box-shadow:5px 0px 8px -3px rgba(0, 0, 0, 0.25);
  transition: left 0.3s ease-in-out;
}

#spk-settings-controls:hover {
  cursor: pointer;
  box-shadow:5px 0px 8px -3px rgba(0, 0, 0, 0.30);
}

#spk-settings-ui {
  position: absolute;
  z-index: 9;
  width: $ui-right-width;
  height: 100%;
  top: 0px;
  left: $ui-left-width;
  background-color: white;  
  overflow: hidden;
  transition: left 0.4s ease-out;
}

#spk-save-ui {
  position: absolute;
  z-index: 9;
  width: $ui-right-width;
  height: 100%;
  top: 0px;
  left: $ui-left-width;
  background-color: white;  
  overflow: hidden;
  transition: left 0.4s ease-out;

}

.hide-right {
  left: $ui-left-width !important;
}

.hide-right-ui {
  left: 0 !important;
}

#spk-left-ui {
  position: absolute;
  z-index: 10;
  width: $ui-left-width;
  height: 100%;
  top: 0px;
  left: 0px;
  box-shadow: 0px -2px 7px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
}

#main-wrapper {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  
  display: flex;
  align-items: center;
  z-index: 12;

}

#wrapper-measures {
  //position: absolute;
  //top: 0;
  ///height: 100%;
  width: 100%;
  
  //display: flex;
  //align-items: center; 
}

#spk-metadata {
  width: 100%;
  padding-bottom: 10px;
  box-sizing: border-box;
  border: $ui-padding solid rgba(255,255,255,0);
  z-index: 100;
}

#wrapper-params {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: $ui-padding solid white;
  padding-top: 30px;
  padding-bottom: 30px;
}

#spk-footer {
  position: fixed;
  box-sizing: border-box;
  padding: 5px 0 10px;
  bottom: 0;
  right: 0;
}

#spk-canvas {
  position: fixed;
  top: 0;
  left: $ui-left-width;
  width: 100% - $ui-left-width;
  height: 100%;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 30px;
}

#wrapper-saver{
  width: 100%;
  height: 100%;
  display: inline-block;
  //box-sizing: border-box;
  border: $ui-padding solid white;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 30px;

  textarea {
    padding: 2px 0;
    border: none;
    border-bottom: dashed 1px #c9c9c9;
    box-sizing: border-box;
    width: 90%;

    font-size: 14px;
    font-family: $fontFamily;
    line-height: 16px;
    margin: 10px 0;
    background-color: white;
    resize: none;
  }

  textarea:hover {
    border-bottom: solid 1px #969696;
  }

  textarea:focus {
    outline: none;
  }

  #instance-list {
    height: 100%;
  }

  .instance-element {
    width: 90%;
    padding-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    transition: left 0.3s ease;
    position: relative;
    left:0;
    background-color: white;
    

    p.description {
      margin-top: 0;
      font-size: 14px;
      line-height: 16px;
    }

    .spk-saver-half {
      padding: 2px; 
      display: inline-block;
      width: 50%;
      float: left;
      box-sizing: border-box;

    }

  }

  .instance-element:hover {
    cursor: pointer;
    left: 4px;
    box-shadow:  0px -2px 20px 0px rgba(0,0,0,0.1);
  }

  .instance-element.active {
    cursor: pointer;
    left: 8px;
    box-shadow:  0px -2px 20px 0px rgba(0,0,0,0.10);
    p, .spk-saver-half p{
      color: $accentColour;
    }
  }

}
/*
.wrapper {
  position: absolute;
  transition: left 0.2s ease-in-out;
  left: 0%;
  width: 100%;
  background-color: white;
  z-index: 3;
}
*/
.hidden {
  display: none;
  //left: -120%;
}




