doctype html
html
  head
  title Future.Speckle: Display and explore parametric models in your browser.  
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  link(rel="stylesheet", href="css/SPKSingle.css")
  script(src="js/SPKSingle.js")
  block header

body

  #spk-viewer
    #spk-sidebar
     
      #wrapper-params
        #spk-metadata.text-center
          h2 #[a.logo(href="/") #[i.fa.fa-sliders] S ] #[strong Star Ship Early Design ]
          h3.blue Added on 21/05/2016 by George Snow
          br
          br
          br
          br
        #spk-sliders
        br
        br
        br
        p.text-center #[a.logo(href="/") #[i.fa.fa-sliders] S Early Beta Release]
    #spk-canvas
  

  