extends ./layout/layout.jade

block header
  // add the custom stylesheet and scripts here
  link(rel='stylesheet' href="./../css/Default.css")
  script(src="./../js/Default.js")

block content
  #spk-canvas
  #spk-metadata
  #spk-parameters 
 

  