extends ./layout/layout.jade

block header
  // add the custom stylesheet and scripts here
  link(rel='stylesheet' href="./../css/Parallel.css")
  script(src="./../js/Parallel.js")

block content
  #spk-canvas
  #spk-parameters.parcoords(style="height:450px; width:800px;")
  
  
  
  