extends ./layout/layout.jade

block header
  // add the custom stylesheet and scripts here
  link(rel='stylesheet' href="./../css/Parallel.css")
  script(src="./../js/Parallel.js")

block content
  #spk-canvas
  .sidebar
    #spk-parameters.parcoords
    .grid-wrapper
      #spk-datagrid
      p.selection-info Loading solution space...
  
  
  
  