doctype html
html
  head
  title Future.Speckle: Display and explore parametric models in your browser.  
  link(rel="stylesheet", href="css/SPKDouble.css")
  script(src="js/SPKDouble.js")
  block header

body

  #spk-viewer-1
    #spk-sidebar
      #wrapper
        #spk-sliders
    #spk-canvas

  #spk-viewer-2
    #spk-sidebar
      #spk-metadata
      #spk-sliders
    #spk-canvas
  

  