doctype html
html
  head
  title Future.Speckle: Display and explore parametric models in your browser.  
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  link(rel="stylesheet", href="css/SPKSingle.css")
  script(src="js/SPKSingle.js")
  block header

body

  #spk-viewer
    
    #spk-left-ui
      #spk-metadata.text-center
        h3 #[strong.model-name ]
        p.model-meta.blue 
      #main-wrapper  
        #wrapper-params.wrapper
          #spk-sliders
          br

          h2.text-center #[i.fa.fa-save]
    
    #spk-right-ui  
      #wrapper-saver.wrapper.hidden
        div.instance-element
          form#save-instance
            textarea(placeholder="To save a configuration, give it a description and click submit." rows=2)
            button(type="submit" form="save-instance" value="Submit") Submit  
        br
        #instance-list

      #wrapper-settings.wrapper.hidden
          h3.text-centerx Toggle Grid 
          h3.text-centerx Toggle Ground Plane 
          h3.text-centerx Toggle Shadows
          h3.text-centerx Zoom Extents
      
      #spk-footer
        p #[a.logo(href="/") Made With #[i.fa.fa-sliders] S]
    #spk-canvas
    
 

  