doctype html
html
  head
  title Future.Speckle: Display and explore parametric models in your browser.  
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  link(rel="stylesheet", href="css/SPKSingle.css")
  script(src="js/SPKSingle.js")
  block header

body

  #spk-viewer
    #spk-sidebar
      
      #spk-metadata.text-center
        h2 #[i.fa.fa-sliders] #[strong.model-name ... ]
        p.model-meta.blue ...
      
      #wrapper-params
        #spk-sliders

      #spk-footer.text-center
        p #[a.logo(href="/") Made With #[i.fa.fa-sliders] S] | Terms of Service | Cookie Policy
    #spk-canvas
  

  