extends ./layout/layout.jade

block header
  // add the custom stylesheet and scripts here
  link(rel='stylesheet' href="./../css/Template.css")
  script(src="./../js/Template.js")

block content
  // roll on
